*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(144, 16, 16);
}
img{
    width: 15vw;
    height: 30vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 40vw;
    height: 70vh;
    border-radius: 5px;
}

#oi{
    height: 10vh;
    width: 100vw;
    background-color: rgb(144, 16, 16);
}

#teste {
    justify-content: flex-start;
    display: flex;
    width: 100vw;
    padding-left: 15vw;
    color: black;
    cursor: pointer;
}

input{
    width: 25vw;
    height: 6vh;
    padding-left: 15px;
    margin-top: 3vh;
    border-radius: 10vw;
    
}

button{
    width: 25vw;
    height:  6vh;
    background-color: rgb(144, 16, 16);
    margin-top: 3vh;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10vw;

}

.body-darkmode {
    background-color: #1E1B16;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.section-darkmode {
    display: flex;
    background-color: #1E1B16;
    width: 40vw;
    height: 70vh;
    border-radius: 5px;
}

.icon-class {
    color: white;
}

.divIcon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}